@import "tailwindcss";

@theme {
  --font-sans: var(--font-body-family);
  --font-serif: var(--font-heading-family);
}

@source "./layout/*.liquid";
@source "./templates/**/*.liquid";
@source "./sections/*.liquid";
@source "./snippets/*.liquid";

@layer base {
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0 !important;
  }
}